.queroDoar{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    .titulo{
        height: 15vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
    }

    .form{
        height: 60vh;
        width: 30vw;
        border: solid #005695 4px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .infoLivros{
        width: 20vw;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        font-size: 26px;

        p{
            color: #005695;
        }
    }

    .inputs{
        height: 32vh;
        width: 20vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        ::placeholder{
            font-size: 16px;
            width: 6vw;
            display: flex;
            padding-left: 5px;
        }

        input{
            border: solid #005695;
            border-radius: 15px;
            height: 4vh;
            outline: 0;
            font-size: 20px;
        }
    }
    .doar{
        border: solid #005695;
        border-radius: 10px;
        height: 8vh;
        width: 10vw;

        input{
            height: 7.5vh;
            width: 9.7vw;
            background-color: #005695;
            border: solid transparent;
            color: white;
            font-size: 20px;
            cursor: pointer;
        }
    }
}