.main2{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.subTitulo{
    height: 10vh;
    color: #005695;
    font-size: 40px;
    width: 31vw;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

figure{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

        section{
            height: 90%;
            width: 20%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            background-color: #0157944D;
            border-radius: 10px;
        }


        figcaption{
            height: 15vh;
            width: 15vw;
            display: flex;
            align-items: center;
            font-size: 22px;
            text-align: center;
        }
}

@media(max-width: 450px){
    .main2{
        height: 250vh;
        display: flex;
        align-items: center;

        .subTitulo{
            width: 80vw;
            height: 20vh;

            h2{
                font-size: 50px;
                text-align: center;
            }
        }
    }

    figure{
        height: 220vh;
        width: 80vw;
        display: flex;
        flex-direction: column;

        section{
            height: 50vh;
            width: 80vw;

            figcaption{
                width: 80%;
                height: 20vh;
            }
        }
    }
}