.mainImage{
    background-image: url('/src/assets/imagemMain.png');
    height: 70vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;

    h2{
        margin-left: 5vw;
        color: white;
        font-size: 32px;
        height: 15vh;
        width: 21vw;
        display: flex;
        align-items: center;
    }
}
