header{
    background: linear-gradient(90deg, #001B2F 0%, #005695 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
}
.logoHeader{
    display: flex;
    height: 13vh;
    width: 25%;
    justify-content: space-around;
    margin: 1%;
    
    img{
        height: 10vh;
        width: 5vw;
    }

    h1{
        margin-bottom: 6px;
        display: flex;
        flex-direction: column;
        justify-content:center;
        color: white;
        font-size: 40px;
    }
}
.navHeader{
    width: 30%;

    ul{
        display: flex;
        justify-content: space-around;
        font-size: 25px;
        list-style: none;
    }

    a{
        color: white;
        text-decoration: none;
    }
}
.input{
    margin: 1%;
    height: 30%;
    width: 20vw;
    display: flex;
    justify-content: space-evenly;
    border: solid white 2px;
    border-radius: 20px;
    

    input{
        color: white;
        outline: 0;
        border: transparent;
        width: 15vw;
        background-color: transparent;
        font-size: 20px;
        text-decoration: none;
        

        &::placeholder{
            width: 11vw;
            font-size: 20px;
            padding-left: 20%;
            color: white;
            
        }
    }
    button{
        margin: 2%;
        background-color: transparent;
        border: solid transparent;
        cursor: pointer;
    }
}

@media(max-width: 450px){
    header{
        display: flex;
        justify-content: space-evenly;
        height: 35vh;
        width: 100vw;
        flex-direction: column;

        .logoHeader{
            width: 80%;
            height: 20vh;
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                height: 9vh;
                width: 20vw;
            }

            h1{
                font-size: 30px;
            }
        }
    }

    .navHeader{
        width: 95.8vw;

        ul{
            font-size: 20px;
            display: flex;
            justify-content: space-around;
        }
    }

    .input{
        height: 6vh;
        width: 85vw;

        input{
            width: 65vw;

            &::placeholder{
                display: flex;
                width: 90vw;
            }
        }

    }
}
