.footerBox1{
    background-color: #005695;
    height: 15vh;
    display: flex;
    justify-content: center;
    
    div{
        width: 95%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        color: #FFFFFFDB;
    }

    nav{
        width: 15vw;
        display: flex;
        justify-content: space-evenly;
    }
}

.footerBox2{
    background-color: #232020;
    color: white;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}