.livrosDoadosSection{
    height: 80vh;

    h2{
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
    }

    .containerCards{
        height: 70vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        section{
            height: 40vh;
            width: 15vw;
            border: solid 3px #005695;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            div{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 13vh;
                align-items: center;
            }

            img{
                height: 15vh;
                width: 10vw;
                display: flex;
            }

            h4{
                height: 10vh;
                display: flex;
                align-items: center;
                text-align: center;
            }
        }
    }
}